<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyF_LasPalmeras.My.MySettings.LasPalmerasConnection"
            connectionString="Data Source=tcp:herramientas.database.windows.net,1433;Initial Catalog=lasPalmeras;Persist Security Info=True;User ID=bryan;Password=kpgA@F!obNqN6Grog2sP;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="ProyF_LasPalmeras.My.MySettings.lasPalmerasConnectionString"
            connectionString="Data Source=herramientas.database.windows.net;Initial Catalog=lasPalmeras;Persist Security Info=True;User ID=bryan;Password=kpgA@F!obNqN6Grog2sP"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>